<launch>
	<!-- <arg name="xacro" default="$(find bringup)/urdf/pioneer3dx.urdf.xacro" /> -->
	<!-- <param name="robot_description" command="$(find xacro)/xacro.py $(arg xacro)" /> -->

	<param name="robot_description" command="$(find xacro)/xacro.py $(find bring_up)/models/my_pioneer3at/pioneer3at.xacro" />

<!-- 	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    	<param name="publish_frequency" type="double" value="30.0"/>
    	<param name="tf_prefix" type="string" value=""/>
  	</node> -->

  	<!-- <node pkg="p2os_urdf" type="p2os_publisher_3at" name="publisher"/> -->
  	
	
</launch>
